*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 479px) {
  body{
    text-size-adjust: 100%;
  }
}
body{
  margin: 0;
  font-family: 'Arial', sans-serif;
}
body{
  color: var(--theme-ui-colors-text,#343D48);
  background-color: var(--theme-ui-colors-background, #FFFFFF);
}
body{
  display: block;
}
body a{
  color: inherit;
}
main{
  display: block;
  unicode-bidi: isolate;
}
section{
  display: block;
  unicode-bidi: isolate;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-inline-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
form{
  unicode-bidi: isolate;
}
label{
  cursor: default;
}
div{
  display: block;
  unicode-bidi: isolate;
}
img{
  overflow-clip-margin: content-box;
  overflow: clip;
}
h2{
  display: block;
  margin-block-start: 0.83em;
  margin-inline-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
h3{
  display: block;
  margin-block-start: 0.83em;
  margin-inline-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
ul{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
li{
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
header{
    width: 100%;
    padding: 10px 20px;
    background-color: transparent;
    transition: all 0.4s ease;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar{
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
    display: flex;
  align-items: center;
}
.logo img {
    /* width: 40px;
    height: 40px;
    margin-right: 10px; */
    width: 186px; /* Set logo width */
    height: 37px; /* Set logo height */
    margin-right: 20px;
}
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    color: #8d448b;;
  }
  
  #register-btn {
    background-color: #fff;
    color: #8d448b;
    border-color: #8d448b;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #register-btn:hover {
    background-color: #8d448b;
    color: #fff;
  }

  .sidebar{
    position: fixed;
    top: 0; 
    left: 0;
    height: 100vh;
    width: 250px;
    background-color:  #fff;
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px  #fff;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: 500;
  }
  .sidebar button{
    background-color: #8d448b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }

  .banner {
    box-sizing: border-box;
    margin:0;
    min-width: 0;
    padding-top: 110px;
    padding-bottom: 50px;
    background-color: #F6F8FB;
    overflow: hidden;
  }
  .css-iekhfc{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .css-1rg5a37{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    /* grid-template-columns: 1fr;
    grid-gap: 0; */
  }
  
  .banner-content {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
  }
  .banner-content h3{
    color: #0F2137;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: -.7px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
    font-size: 30px;
  }
  .banner-title{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-family: 'DM Sans';
  }
  
  h3{
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
  .banner-content h3 {
    font-size: 30px;
    color: #0F2137;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: -.7px;
  }
  .css-czffb0{
    box-sizing: border-box;
    margin: 0%;
    min-width: 0;
  }
  .banner-content p {
    font-size: 15px;
    line-height: 26px;
    color: #02073E;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
  }
  .css-vurnku{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
  }

  .subscribe{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    margin-bottom: 30px;
    display: flex;
 }
 .form-label{
  box-sizing: border-box;
  min-width: 0;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
 }
.subscribe input{
  border-radius: 4px;
  background-color: #fff;
  width: 240px;
  height: 45px;
  padding: 0 15px;
  font-size: 15px;
  border: none;
  outline: none;
  box-shadow: 0px 1px 50px rgba(48, 98, 145, 0.08);
}
.form-input{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
  appearance: none;
  line-height: inherit;
  color: inherit;
}
.subscribe button{
  font-size: 15px;
  border-radius: 4px;
  padding: 0 15px;
  margin-left: 10px;
  width: auto;
}
.form-button{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  appearance: none;
  display: inline-block;
  text-align: center;
  line-height: inherit;
  text-decoration: none;
  border: 0;
  font-weight: 700;
  color: white;
  background-color: #8D448B;
  cursor: pointer;
  transition: 500ms;

}
.css-1pht4y8{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}
.css-1pht4y8 span{
  font-size: 15px;
  color: #566272;
  line-height: 1;
  opacity: 0.6;
  display: block;
  margin-bottom: 20px;
  flex: 0 0 100%;
}
.sponsor img{
  display: flex;
}
.sponsor-img{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
}
.css-1s6oyus{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
}
.css-1s6oyus img{
  display: flex;
  mix-blend-mode: darken;
  position: relative;
  top: 0;
  max-width: 100%;
}
/* Style général de la section */
.service-section {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding-top: 80px;
}
.services{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.service-title{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-bottom: 45px;
  text-align: center;
}
.service-title p{
  color: #8D448B;
  font-size: 15px;
  line-height: 1;
  margin-bottom: 10px;
}
.service-title h2{
  color: #0F2137;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  letter-spacing: -1px;
}
.service-h2{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-family: 'DM Sans';
}

/* Conteneur des fonctionnalités */
.features {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  grid-gap: 30px;
  grid-template-columns: 1fr;
    /* justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap; */
}

/* Style de chaque élément de fonctionnalité */
.feature-item {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  text-align: center;
    /* flex: 1 1 200px;
    max-width: 250px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
    /* transition: transform 0.3s ease-in-out; */
}
.service-section .feature-item:nth-of-type(2) .service-icon{
  background-image: linear-gradient(320.89deg, #25D9D9 10.83%, rgba(37, 217, 217, 0.5) 88.7%);
}
.service-section .feature-item:nth-of-type(3) .service-icon{
  background-image: linear-gradient(319.4deg, #0898E7 5.17%, 
  rgba(8, 152, 231, 0.5) 94.34%);
}
.service-section .feature-item:nth-of-type(4) .service-icon{
  background-image: linear-gradient(322.63deg, #FF9066 9.94%, rgba(255, 144, 102, 0.5) 91.14%);
}
.service-icon{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 20px;
  background-image: linear-gradient(323.91deg, #FFCC40 7.09%, rgba(255,204,64,0.5) 88.82%);

}
.css-9taffg{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
}
.feature-item h3{
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #0F2137;
  margin-top: 30px;
  margin-bottom: 20px;
}
.css-czffb0{
  box-sizing: border-box;
  min-width: 0;
  font-family: 'DM Sans';
  letter-spacing: -0.5px;
}
/* Responsive pour petits écrans */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }
}
/* Conteneur principal */
.boost-section {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  /* margin-top: 100px;
  margin-bottom: 100px; */
  padding-top: 80px;
}
.css-14n8uox{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.boost-section .css-14n8uox{
  display: flex;
}
.css-10y6vjq{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.css-qu1epp{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  flex: 0 0 100%;
  display: flex;
}
.css-1xydyyz{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  text-align: left;
}
.css-15djfdd{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  /* text-align: center; */
}
.css-15djfdd h3{
  color: #0F2137;
  font-size: 21px;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.css-15djfdd p{
  font-size: 15px;
  color: #02073E;
  opacity: .6;
  line-height: 26px;
  padding: 0 20px;
  margin-top: 15px;
}
.css-niv8zk{
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.css-niv8zk li{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  font-size: 15px;
  color: #02073E;
  line-height: 2.56;
}
.css-e5d8b7{
 box-sizing: border-box;
 margin: 0;
 min-width: 0;
 cursor: pointer;
 text-decoration: none;
 color: #8D448B;
 font-size: 15px;
 display: inline-block;
 vertical-align: middle;
 font-weight: 700;
 padding-left: 30px;
 margin-top: 5px; 
}
.css-e5d8b7 svg{
  position: relative;
}
.css-1wvxslf{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  margin-top: 25px;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  height: 385px;
  position: relative;
}
.trust-section {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  padding-top: 80px;
  text-align: center;
  }
  .trust-section h3{
    margin: 0;
    color: #0F2137;
    font-size: 21px;
    letter-spacing: -0.5px;
    font-weight: 700;
    line-height: 1.6;
  }
  .trust-section p{
    font-size: 15px;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .css-vtg931{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    cursor: pointer;
    text-decoration: none;
    color: #8D448B;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .css-vtg931 svg{
    position: relative;
    top: 3px;
  }
  svg:not(:root){
    overflow-clip-margin: content-box;
    overflow: hidden;
  }
  .css-1fjoj8g{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .css-1fjoj8g >img{
     border-radius: 10px;
     display: flex;
     width: 100%;
  }
  .css-npmkq8{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    cursor: pointer;
    text-decoration: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 500ms ease;
  }
  .css-npmkq8 svg{
    font-size: 15px;
    color: #8D448B;
  }
  
  .testimonials {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding-top: 65px;
  }
  .testimonials .blockTitle{
    text-align: center;
    margin-bottom: 25px;
  }
  .css-ebze6{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
  }
  .css-ebze6 p {
    color: #8D448B;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 10px;
  }
  .css-ebze6 h2{
    color: #0F2137;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.24;
    letter-spacing: -1px;
  }
  .swiper-container-autoheight, .swiper-container-autoheight .swiper-slide{
    height: auto;
  }
  .swiper-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  
  .swiper-container-autoheight .swiper-wrapper{
    align-items: flex-start;

  }
  .swiper-container-android .swiper-slide, .swiper-wrapper{

  }
  .swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
  }
  .swiper-container-autoheight, .swiper-container-autoheight .swiper-slide{
    height: auto;
  }
  .swiper-slide {
    flex-shrink: 0;
    position: relative;
    transition-property: transform, -webkit-transform;
  }
  .css-1sonudy{
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
    font-size: 16px;
    color: #0F2137;
    line-height: 2.3;
    text-align: center;
    font-family: 'Playfair Display';
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 820px;
    margin-top: 0;
  }
  .testimonials #testimonialsInfo{
    text-align: center;
    margin-top: 30px;
    width: 100%;
    max-width: 820px;
  }
  .testimonials #testimonialsInfo .swiper-slide.swiper-slide-thumb-active{
    border-color: #8D448B;
  }
  .testimonials #testimonialsInfo .swiper-slide{
    cursor: pointer;
    border-top: 5px solid transparent;
    position: relative;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    min-height: auto;
  }
  .swiper-slide{
    flex-shrink: 0;
    height: 100%;
    transition-property: transform, -webkit-transform;
  }
  .testimonials #testimonialsInfo img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    position: relative;
    top: auto;
    left: auto;
    margin-top: 10px;
    transform: translateY(0);
  }
  .testimonials #testimonialsInfo h3{
    font-size: 18px;
    line-height: 1;
    color: #0F2137;
    display: none;
  }
  .testimonials #testimonialsInfo span{
    color: #343D48;
    opacity: 0.8;
    font-size: 15px;
    line-height: 1;
    display: none;
    margin-top: 10px;
  }

  .customer-support {
    display: flex;
    box-sizing: border-box;
    min-width: 0;
    overflow: hidden;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .css-50ow0m{
    box-sizing: border-box;
    display: flex;
    margin: 0;
    min-width: 0;
  }
  .css-1lybncj{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
  }
  
  .css-1kycuih{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding-top: 0;
    position: relative;
    z-index: 10;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    width: 100%;
  }
  .css-1kycuih h3{
    font-size: 21px;
    color: #0F2137;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .css-1kycuih p{
    font-size: 15px;
    color: #343D48;
    line-height: 26px;
  }
  .css-1kycuih p +p{
    margin-top: 15px;
  }
  .css-3p63ag{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    opacity: 0.6;
  }
  .css-1u99xbu{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    cursor: pointer;
    text-decoration: none;
    color: #8D448B;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    margin-top: 10px;
  }
  .css-1u99xbu svg{
    position: relative;
    top: 3px;
  }
  .css-1lybncj img{
    max-width: 100%;
  }

  @media (max-width: 1024px) {
    .customer-support {
      flex-direction: column;
      text-align: center;
    }
    
    .content {
      margin-bottom: 30px;
    }
    
    .image img {
      width: 300px;
    }
  }
  .tutorials-section {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .section-title {
    color: #a348a6;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .main-title {
    font-size: 2.5rem;
    color: #1a1a1a;
    margin-bottom: 50px;
  }
  
  .tutorials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .tutorial-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .tutorial-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .tutorial-card h4 {
    font-size: 1.2rem;
    color: #1a1a1a;
    padding: 15px;
  }
  
  .comments {
    font-size: 1rem;
    color: #777;
    padding: 0 15px 15px;
  }
  
  @media (max-width: 1024px) {
    .tutorials-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 768px) {
    .tutorials-grid {
      grid-template-columns: 1fr;
    }
  }

  .css-1r5i64z{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding: 45px 30px 50px;
    margin-top: 0;
    position: relative;
    z-index: 10;
    background-color: var(--theme-ui-colors-primary,#8D448B);
    background-image: none;
    background-repeat: no-repeat;
    background-position: 60% center;
    border-radius: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .css-1r5i64z h3{
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.24;
    padding: 0 15px;
    margin-bottom: 50px;
  }
  .css-1r5i64z .css-vurnku{}
  .css-1e5xfax{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    appearance: none;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    transition: 500ms;
    background-color: #fff;
    color: var(--theme-ui-colors-primary,#8D448B);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 10px 24px;
    position: relative;
    outline: none;
  }
  footer{
    display: block;
    unicode-bidi: isolate;
  }
  .footer{
    background-color: #fff;

  }
  .css-1vtlrgx{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    max-width: 1230;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    -webkit-box-align: center;
    /* align-items: center; */
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .css-yped2y{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    /* align-items: center; */
  }
  .css-1yi5xhs{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    cursor: pointer;
    text-decoration: none;
    padding-right: 30px;
    margin-bottom: 5px;
  }
  .css-136kgl0{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
    display: flex;
  }
  .css-yped2y p{
    font-size: 15px;
    color: var(--theme-ui-colors-black,#0F2137);
    opacity: 0.6;
    margin-top: 10px;
  }
  .css-1w7s2j{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: none;
    font-size: 16px;
    -webkit-box-align: center;
    color: var(--theme-ui-colors-black,#0F2137);
  }
  .css-1w7s2j a{
    transition: 500ms;
  }
  .css-ew9yyj{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    cursor: pointer;
    text-decoration: none;
  }